<div class="holding-line">
  <p class="holding-prefix">You have </p>
  <app-number-display [name]="'greenEnergy'" [style]="'green-text holding-amount'" [type]="'currency'"></app-number-display>
  <p class="holding-prefix">Green Energy</p>
</div>
<div class="holding-line">
  <p class="holding-prefix">You have </p>
  <app-number-display [name]="'darkEnergy'" [style]="'dark-text holding-amount'" [type]="'currency'"></app-number-display>
  <p class="holding-prefix">Dark Energy</p>
</div>
<div class="upgrade-row">
  <div *ngFor="let sacrifice of sacrifices">
    <app-upgrade *ngIf="sacrifice.unlocked"  [upgrade]="sacrifice"></app-upgrade>
  </div>
</div>
<div class="holding-line">
  <app-button [text]="'Respec Dark Energy'" (click)="respecDark()" [style]="'sacrifice-button'"></app-button>
</div>
<div class="upgrade-row">
  <div *ngFor="let upgrade of upgrades">
    <app-upgrade *ngIf="upgrade.unlocked"  [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
