<app-number-display [holding]="holdingRecord.getBlues()"></app-number-display>
<div class="holding-line">
  <p class="holding-prefix">Your best Blue Particles is </p>
  <p [class]="'blue-text holding-amount'">{{ getMaxBlueParticleGainSpeed() }}</p>
  <p class="holding-prefix">/ Second</p>
</div>>
<div class="upgrade-row">
  <div *ngFor="let milestone of milestones">
    <app-milestone *ngIf="milestone.unlocked" [milestone]="milestone"></app-milestone>
  </div>
</div>
<app-particle-emitter style="width: 100%; height: 100%;" [type]="'blue-particle-emitter'"></app-particle-emitter>
