<div class="holding-line">
  <p class="holding-prefix">You have </p>
  <app-number-display [name]="'blues'" [style]="'blue-text holding-amount'" [type]="'currency'"></app-number-display>
  <p class="holding-prefix">Blues</p>
</div>
<div class="holding-line">
  <p class="holding-prefix">Your best Blue Particles is </p>
  <app-number-display [name]="'Blue'" [style]="'blue-text holding-amount'" [type]="'gainPS'"></app-number-display>
  <p class="holding-prefix">/ Second</p>
</div>
<div class="upgrade-row">
  <div *ngFor="let milestone of milestones">
    <app-milestone *ngIf="milestone.unlocked" [milestone]="milestone"></app-milestone>
  </div>
</div>
<app-particle-emitter style="width: 100%; height: 100%;" [type]="'blue-particle-emitter'"></app-particle-emitter>
