<app-number-display [holding]="holdingRecord.getGreenSouls()"></app-number-display>
<div class="upgrade-row">
  <div *ngFor="let sacrifice of sacrifices">
    <app-upgrade *ngIf="sacrifice.unlocked"  [upgrade]="sacrifice"></app-upgrade>
  </div>
</div>
<div class="holding-line">
  <app-button [text]="'Respec Green Souls'" (click)="respecSouls()" [style]="'sacrifice-button'"></app-button>
</div>
<div class="upgrade-row">
  <div *ngFor="let upgrade of upgrades">
    <app-upgrade *ngIf="upgrade.unlocked"  [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<app-particle-emitter style="width: 100%; height: 100%;" [type]="'green-particle-emitter'"></app-particle-emitter>
