<app-button [text]="getToggleAllText()" [style]="'button '+getToggleColor()" (function)="toggleAll()"></app-button>
<div class="upgrade-row">
  <div *ngFor="let automator of yellowPrestigeAutomator">
    <app-automator *ngIf="automator.isFirstUnlocked()" [automator]="automator"></app-automator>
  </div>
</div>
<app-automator-section [automators]="yellowUpgradeAutomators" [title]="'Yellow Upgrade Automators'" [name]="'yellowUpgradeAutomators'"></app-automator-section>
<app-automator-section [automators]="yellowGeneratorAutomators" [title]="'Yellow Generator Automators'" [name]="'yellowGeneratorAutomators'"></app-automator-section>
<app-automator-section [automators]="yellowStarChallengeAutomators" [title]="'Star Challenge Automators'" [name]="'yellowStarChallengeAutomators'"></app-automator-section>
<app-automator-section [automators]="yellowFusionAutomators" [title]="'Yellow Fusion automators'" [name]="'yellowFusionAutomators'"></app-automator-section>
<app-automator-section [automators]="yellowStarKeyAutomators" [title]="'Star Key automators'" [name]="'yellowStarKeyAutomators'"></app-automator-section>

<app-info style="width: 60%" [name]="'yellow-automators-info'" [infoText]="infoText"></app-info>
