<div class="upgrade-row">
  <div *ngFor="let automator of yellowPrestigeAutomator">
    <app-automator *ngIf="automator.isUnlocked()" [automator]="automator"></app-automator>
  </div>
</div>
<h2>Yellow Upgrade Automators</h2>
<div class="upgrade-row">
  <div *ngFor="let automator of yellowUpgradeAutomators">
    <app-automator *ngIf="automator.isUnlocked()" [automator]="automator"></app-automator>
  </div>
</div>
<h2>Yellow Generator Automators</h2>
<div class="upgrade-row">
  <div *ngFor="let automator of yellowGeneratorAutomators">
    <app-automator *ngIf="automator.isUnlocked()" [automator]="automator"></app-automator>
  </div>
</div>
<h2>Star challenge automators</h2>
<div class="upgrade-row">
  @for (automator of yellowStarChallengeAutomators; track automator.name) {
    @if (automator.isUnlocked()) {
      <app-automator [automator]="automator"></app-automator>
    }
  }
</div>
<h2>Yellow fusion automators</h2>
<div class="upgrade-row">
  @for (automator of yellowFusionAutomators; track automator.name) {
    @if (automator.isUnlocked()) {
      <app-automator [automator]="automator"></app-automator>
    }
  }
</div>
<h2>Star key automators</h2>
<div class="upgrade-row">
  @for (automator of yellowStarKeyAutomators; track automator.name) {
    @if (automator.isUnlocked()) {
      <app-automator [automator]="automator"></app-automator>
    }
  }
</div>
<app-info style="width: 60%" [name]="'yellow-automators-info'" [infoText]="infoText"></app-info>
