<app-number-display [holding]="yellowFusion"></app-number-display>
<app-number-display [holding]="hydrogen"></app-number-display>
<div class="upgrade-row">
  <div *ngFor="let upgrade of hydrogenUpgrades">
    <app-upgrade *ngIf="upgrade.isUnlocked()" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<div class="upgrade-row">
  <app-upgrade *ngIf="fusionBoosterAcceleration.isUnlocked()" [upgrade]="fusionBoosterAcceleration"></app-upgrade>
</div>
<div class="upgrade-row">
  <div *ngFor="let upgrade of upgrades">
    <app-upgrade *ngIf="upgrade.isUnlocked()" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<app-info style="width: 60%" [name]="'yellow-fusion-info'" [infoText]="infoText"></app-info>

