div.challenge {
  background-color: var(--background-color-1);
  border: 5px solid var(--background-color-3);
  border-radius: 10px;
  width: 28rem;
  margin: 1rem;
}

div.details {
  background-color: var(--background-color-3);
  color: var(--text-color-light);
  width: 90%;
  padding: 5%;
}

div.star {
  border-radius: 50%;
  margin: 0 auto;
}

div.start button {
  background-color: var(--background-color-2);
  color: var(--text-color-main);
  border: 2px solid var(--background-color-light);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 10rem;
}

div.challenge.proxima-centauri div.name h2 {
  color: var(--proxima-centauri-color);
}

div.challenge.proxima-centauri div.star {
  background: radial-gradient(
    circle,
    rgb(255, 198, 132) 0%,
    var(--proxima-centauri-color) 70%,
    rgb(199, 24, 8) 100%
  );
  box-shadow: 0 0 15px var(--proxima-centauri-color);
  width: 6rem;
  height: 6rem;
  margin: 2rem auto;
}

div.challenge.lalande div.name h2 {
  color: var(--lalande-color);
}

div.challenge.lalande div.star {
  background: radial-gradient(
    circle,
    rgb(255, 217, 165) 0%,
    var(--lalande-color) 70%,
    rgb(218, 45, 15) 100%
  );
  box-shadow: 0 0 35px var(--lalande-color);
  width: 10rem;
  height: 10rem;
  margin: 2rem auto;
}
