<div class="challenge {{ star.style }}">
  <div class="star-wrapper">
    <div class="star">

    </div>
  </div>
  <div class="details">
    <div class="name">
      <h2>{{ star.displayName }}</h2>
    </div>
    <div class="description">
      <p>{{ star.getDescription() }}</p>
    </div>
    <div class="reward">
      <p>{{ star.getRewardDescription() }}</p>
    </div>
    <div class="effect">
      <p>{{ star.getEffectDisplay() }}</p>
    </div>
    <div class="goal">
      <p>Reach {{ star.goal.toString() }} {{ star.getCurrency().displayName }}</p>
    </div>
    <div *ngIf="hasMultipleCompletions()" class="completions">
      <p>{{ star.completed }} / {{ star.maxCompletions }} Completions</p>
    </div>
    <div class="start">
      <button [class]="'button '+((star.isCompleted()) ? 'completed' : '')" (click)="startChallenge()">{{ getButtonText() }}</button>
    </div>
  </div>
</div>
