div.challenge {
  background-color: var(--background-color-1);
  border: 5px solid var(--background-color-3);
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
}

div.details {
  background-color: var(--background-color-3);
  color: var(--text-color-light);
  width: 90%;
  padding: 5%;
}

div.star {
  border-radius: 50%;
  margin: 0 auto;
}

div.start button {
  background-color: var(--background-color-2);
  color: var(--text-color-main);
  border: 2px solid var(--background-color-light);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 10rem;
}

div.challenge.proxima-centauri div.name h2 {
  color: rgb(215, 64, 34);
}

div.challenge.proxima-centauri div.star {
  background: radial-gradient(
    circle,
    rgb(255, 198, 132) 0%,
    rgb(215, 64, 34) 70%,
    rgb(199, 24, 8) 100%
  );
  box-shadow: 0 0 25px rgb(218, 72, 43);
  width: 10rem;
  height: 10rem;
  margin: 2rem auto;
}
