<div class="holding-line">
  <p>Current Challenge: {{activeChallenge}}</p>
</div>
<div class="generators-row">
  <div *ngFor="let challenge of challenges">
    <app-challenge *ngIf="challenge.unlocked" [challenge]="challenge"></app-challenge>
  </div>
</div>
<div class="holding-line" style="padding-top: 50px">
  <app-button [text]="'Leave Challenge'" [style]="'normal-button'" (click)="leaveChallenge()"></app-button>
</div>
<app-info style="width: 60%" [name]="'red-generators-info'" [text]="infoText"></app-info>
<app-particle-emitter style="width: 100%; height: 100%;" [type]="'yellow-particle-emitter'"></app-particle-emitter>
