<div
  class="galaxy-tree-wrapper tree-viewport"
  #galaxyTreeWrapper
  (wheel)="$event.preventDefault(); onWheel($event)"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
  (pointercancel)="onPointerUp($event)"
  (pointerleave)="onPointerUp($event)"
>
  <div class="tree-canvas" [style.transform]="transform" [style.touchAction]="'none'">
    <app-galaxy-tree-star
      [galaxyTreeStar]="galaxyTreeStarRoot"
    ></app-galaxy-tree-star>
  </div>
</div>
<div [class]="'bottom-section ' + (isBottomSectionOpen() ? 'open' : 'closed')">
  <div class="number-display">
    <app-number-display [holding]="darkEnergy"></app-number-display>
    <app-button [style]="'button green card-header right'" [icon]="isBottomSectionOpen() ? faArrowDown : faArrowUp" (click)="toggleBottomSection()"></app-button>
  </div>
  <div class="upgrade-row">
    @for (upgrade of upgrades; track upgrade)  {
      <app-upgrade
        [upgrade]="upgrade"
      ></app-upgrade>
    }
  </div>
</div>
