@if (isStarSelected()) {
  <div class="star-overlay">
    <div [class]="'star-details ' + getSelectedStarStyle()">
      <app-button [text]="'Close'" [style]="'button horizontal exit'" (function)="closeStarDetails()"></app-button>
      <div class="name-description">
        <h4 class="star-name">{{ getSelectedStarName() }}</h4>
        <p class="star-description">{{ getSelectedStarDescription() }}</p>
      </div>
      <div>{{ getSelectedStarEffect() }}</div>
      <app-button
        [text]="
      (isSelectedStarMaxed()) ? 'Bought' : getSelectedStarCost()
"
        [style]="'button horizontal '
      + (isSelectedStarBuyable() ? 'buyable green ' : 'disabled ')
      + (isSelectedStarMaxed() ? 'maxed ' : '')
"
        (function)="buySelectedStar()"
      ></app-button>
    </div>
  </div>
}
<div
  class="galaxy-tree-wrapper tree-viewport"
  #galaxyTreeWrapper
  (wheel)="$event.preventDefault(); onWheel($event)"
  (pointerdown)="onPointerDown($event)"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
  (pointercancel)="onPointerUp($event)"
  (pointerleave)="onPointerUp($event)"
>
  <div class="tree-canvas" [style.transform]="transform" [style.touchAction]="'none'">
    <app-galaxy-tree-star
      [galaxyTreeStar]="galaxyTreeStarRoot"
    ></app-galaxy-tree-star>
  </div>
</div>
<div [class]="'bottom-section ' + (isBottomSectionOpen() ? 'open' : 'closed')">
  <div class="number-display">
    <app-number-display [holding]="darkEnergy"></app-number-display>
    <app-button [style]="'button green card-header right'" [icon]="isBottomSectionOpen() ? faArrowDown : faArrowUp" (click)="toggleBottomSection()"></app-button>
  </div>
  <div class="upgrade-row">
    @for (upgrade of upgrades; track upgrade)  {
      <app-upgrade
        [upgrade]="upgrade"
      ></app-upgrade>
    }
  </div>
</div>
