<button *ngIf="!inChallenge()" [class]="prestigeLayer.style+' '+getReached()" [style.display]="getDisplay()" (click)="prestige()">
  <h3>Start {{ getName() }}</h3>
  <p *ngIf="!firstTime()">{{ getFirstTimeText() }}</p>
  <p *ngIf="firstTime() && hasReached()">Gain {{ getGainAmount() }} {{ getGainHolding() }}</p>
</button>
<button *ngIf="inChallenge()" [class]="prestigeLayer.style+' '
+((goalReached()) ? 'reached' : '')+' '
" [style.display]="getDisplay()" (click)="prestige()">
  @if (hasCustomText()) {
    @if (typeof getCustomText() === 'string') {
      <p>{{ getCustomText() }}</p>
    } @else if (Array.isArray(getCustomText())) {
      @for (line of getCustomText(); track line) {
        <p>{{ line }}</p>
      }
    }
  } @else {
    <h3>Complete {{ getChallengeName() }}</h3>
    <p>Requires {{ getCompletionAmount() }} {{ getCompletionHolding() }}</p>
  }
</button>
