<button *ngIf="!inChallenge()" [class]="prestigeLayer.style+' '+getReached()" [style.display]="getDisplay()" (click)="prestige()">
  <h3>Start {{ getName() }}</h3>
  <p *ngIf="!firstTime()">{{ getFirstTimeText() }}</p>
  <p *ngIf="firstTime() && hasReached()">Gain {{ getGainAmount() }} {{ getGainHolding() }}</p>
</button>
<button *ngIf="inChallenge()" [class]="prestigeLayer.style+' '+goalReached()" [style.display]="getDisplay()" (click)="prestige()">
  <h3>Start {{ getName() }}</h3>
  <p *ngIf="!firstTime()">{{ getFirstTimeText() }}</p>
  <p *ngIf="firstTime() && hasReached()">Gain {{ getGainAmount() }} {{ getGainHolding() }}</p>
</button>
