div.yellow button {
  border: 1px solid var(--accent-color-yellow);
  background-color: var(--background-color-3);
  color: var(--text-color-yellow);
}

p {
  color: var(--text-color-light);
}

p.holding {
  font-size: 1.5rem;
  font-weight: bold;
}

p.yellow {
  color: var(--text-color-yellow);
}

button.respec {
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
}
