<div *ngIf="canEnhance()" [class]="enhancement.style">
  <p>
    {{ enhancement.description }}
  </p>
  <button *ngIf="!enhancing()" class="start button" (click)="startEnhancing()">
    Start {{ enhancement.displayName }}
  </button>
  <button *ngIf="enhancing()" class="stop button" (click)="stopEnhancing()">
    Stop {{ enhancement.displayName }}
  </button>
</div>
<div *ngIf="!canEnhance()" [class]="'flex-row baseline '+enhancement.style">
  <p>
    You need
  </p>
  <p [class]="'holding '+enhancement.holding.getStyle()">{{ enhancement.getRequirement().toString() }}</p>
  <p>{{ enhancement.holding.holdingDisplay.getAmountSuffix() }} to start enhancement</p>
</div>
