<div class="challenge {{ challenge.style }}">
  <div class="name">
    <h2>{{ challenge.displayName }}</h2>
  </div>
  <div class="galaxy-wrapper">
    <div class="galaxy-nebula"></div>

    <div class="galaxy-stars">
      @for (star of stars; track star.id) {
        <div
          class="star"
          [style.top]="star.top"
          [style.left]="star.left"
          [style.width.px]="star.size"
          [style.height.px]="star.size"
          [style.animationDuration]="star.duration + 's'"
          [style.animationDelay]="star.delay + 's'">
        </div>
      }
    </div>
  </div>
  <div class="details">
    <div class="description">
      <p>{{ challenge.getDescription() }}</p>
    </div>
    <div class="reward">
      <p>{{ challenge.getRewardDescription() }}</p>
    </div>
    <div class="start">
      <button [class]="'button'" (click)="toggleChallenge()">{{ getButtonText() }}</button>
    </div>
  </div>
</div>
