<div>
  <span>
    <p>{{ holdingDisplay.getAmountPrefix() }}</p>
    <p [class]="'holding ' + holding.getStyle()">{{ getHoldingAmount() }}</p>
    <p>{{ holdingDisplay.getAmountSuffix() }}</p>
  </span>
  <span *ngIf="hasHoldingEffect()">
    <p>{{ holdingDisplay.getEffectPrefix() }}</p>
    <p>{{ getHoldingEffect() }}</p>
    <p>{{ holdingDisplay.getEffectSuffix() }}</p>
  </span>
  <span *ngFor="let line of getLines()">
    <p>{{ line.prefix }}</p>
    <p>{{ line.valueFunction() }}</p>
    <p>{{ line.suffix }}</p>
  </span>
</div>
