div span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  font-size: 1.1rem;
  border-radius: 12px;
}

div span p.effect {
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

div span p {
  margin: 0 8px;
}

.holding {
  font-size: 2.2rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.red {
  color: var(--text-color-red);
}

.yellow {
  color: var(--text-color-yellow);
}

.green {
  color: var(--text-color-green);
  --accent-color: var(--text-color-green);
}

.dark {
  color: var(--background-color-3);
  text-shadow:
    0 0 10px var(--accent-color),
    -1px -1px 0 var(--accent-color),
    1px 1px 0 var(--accent-color),
    -1px 1px 0 var(--accent-color),
    1px -1px 0 var(--accent-color);
}

.sun {
  color: var(--sun-color);
}

.sirius {
  color: var(--sirius-color);
}

.fusion {
  --color-switch-1: var(--proxima-centauri-color);
  --color-switch-2: var(--sun-color);
  animation: color-switch 10s infinite;
}

.hydrogen {
  --color-switch-1: var(--rigel-color);
  --color-switch-2: var(--sirius-color);
  animation: color-switch 5s infinite;
}

@keyframes color-switch {
  0% {
    color: var(--color-switch-1);
  }
  50% {
    color: var(--color-switch-2);
  }
  100% {
    color: var(--color-switch-1);
  }
}
