div p {
  font-size: 1.1rem;
  border-radius: 12px;
  margin: 0.25rem 8px;
  text-wrap: pretty;
}

div p span {
  margin: 0 4px;
}

div p span.effect {
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.holding {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.red {
  color: var(--text-color-red);
}

.yellow {
  color: var(--text-color-yellow);
}

.green {
  color: var(--text-color-green);
  --accent-color: var(--text-color-green);
}

.blue {
  color: var(--text-color-blue);
  --accent-color: var(--accent-color-blue);
  text-shadow: 0 0 8px rgba(92, 184, 227, .4);
}

.dark {
  color: var(--background-color-3);
  text-shadow:
    0 0 10px var(--accent-color),
    -1px -1px 0 var(--accent-color),
    1px 1px 0 var(--accent-color),
    -1px 1px 0 var(--accent-color),
    1px -1px 0 var(--accent-color) !important;
}

.sun {
  color: var(--sun-color);
}

.sirius {
  color: var(--sirius-color);
}

.hydrogen {
  --color-switch-1: var(--rigel-color);
  --color-switch-2: var(--sirius-color);
  animation: color-switch 5s infinite;
}

.key {
  --color-gradient-1: var(--proxima-centauri-color);
  --color-gradient-2: var(--lalande-color);
  --color-gradient-3: var(--sun-color);
  --color-gradient-4: var(--sirius-color);
  animation: color-gradient 10s infinite;
}

@keyframes color-gradient {
  0% {
    color: var(--color-gradient-1);
  }
  25% {
    color: var(--color-gradient-2);
  }
  50% {
    color: var(--color-gradient-3);
  }
  75% {
    color: var(--color-gradient-4);
  }
  100% {
    color: var(--color-gradient-1);
  }
}

.nuclear {
  color: #e8ff36;
  text-shadow: 0 0 5px #5cff77, 0 0 14px rgba(232, 255, 54, .55);
}
