<div>
  <p>
    {{ holdingDisplay.getAmountPrefix() }}
    <span [class]="'holding ' + holding.getStyle()">{{ getHoldingAmount() }}</span>
    {{ holdingDisplay.getAmountSuffix() }}
  </p>
  <p *ngIf="hasHoldingEffect()">
    {{ holdingDisplay.getEffectPrefix() }}
    <span [class]="'effect ' + holding.getStyle()">{{ getHoldingEffect() }}</span>
    {{ holdingDisplay.getEffectSuffix() }}
  </p>
  <p *ngFor="let line of getLines()">
    {{ line.prefix }}
    <span [class]="'effect ' + holding.getStyle()">{{ line.valueFunction() }}</span>
    {{ line.suffix }}
  </p>
</div>
