<div>
  <span>
    <p>{{ holdingDisplay.getAmountPrefix() }}</p>
    <p [class]="'holding ' + holding.getStyle()">{{ getHoldingAmount() }}</p>
    <p>{{ holdingDisplay.getAmountSuffix() }}</p>
  </span>
  <span *ngIf="hasHoldingEffect()">
    {{ holdingDisplay.getEffectPrefix() }}
    <p [class]="'effect ' + holding.getStyle()">{{ getHoldingEffect() }}</p>
    {{ holdingDisplay.getEffectSuffix() }}
  </span>
  <span *ngFor="let line of getLines()">
    {{ line.prefix }}
    <p [class]="'effect ' + holding.getStyle()">{{ line.valueFunction() }}</p>
    {{ line.suffix }}
  </span>
</div>
