<div class="items">
  <app-prestige-button *ngIf="!inPurplePhase" [buttonId]="docYellow" [name]="'Yellow'" [style]="'yellow'"></app-prestige-button>
  <app-prestige-button *ngIf="!inPurplePhase" [buttonId]="docGreen" [name]="'Green'" [style]="'green'"></app-prestige-button>
  <app-prestige-button *ngIf="!inPurplePhase" [buttonId]="docBlue" [name]="'Blue'" [style]="'blue'"></app-prestige-button>
  <app-prestige-button [buttonId]="docPurple" [name]="'Purple'" [style]="'purple'"></app-prestige-button>
</div>



