<div class="holding-line">
  <p class="holding-prefix">You have </p>
  <app-number-display [name]="'redAccelerators'" [style]="'red-text holding-amount'" [type]="'currency'"></app-number-display>
  <p class="holding-prefix"> Accelerators</p>
</div>
<div class="holding-line">
  <p class="holding-prefix">They boost red generators by</p>
  <app-number-display [name]="'redAccelerators'" [style]="'red-text holding-amount'" [type]="'holdingEffect'"></app-number-display>
</div>
<div class="generators-row">
  <div *ngFor="let generator of generators">
    <app-generator *ngIf="generator.unlocked" [generator]="generator"></app-generator>
  </div>
</div>
<div class="upgrade-row">
  <div *ngFor="let upgrade of upgrades">
    <app-upgrade *ngIf="upgrade.unlocked" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<app-info style="width: 60%" [name]="'red-accelerators-info'" [text]="infoText"></app-info>
<app-particle-emitter style="width: 100%; height: 100%;" [type]="'accelerator-particle-emitter'"></app-particle-emitter>
