<div class="resource-card">
  <app-number-display [holding]="redAccelerators"></app-number-display>
</div>
<div class="upgrade-row">
  @for (upgrade of upgrades; track upgrade)  {
    @if (upgrade.isFirstUnlocked()) {
      <app-upgrade [upgrade]="upgrade"></app-upgrade>
    }
  }
</div>
<div class="upgrade-row">
  <div>
    @if (boosterAccelerationUpgrade.isFirstUnlocked()) {
      <app-upgrade [upgrade]="boosterAccelerationUpgrade"></app-upgrade>
    }
  </div>
</div>
<div class="upgrade-row">
  <div>
    @if (unlockRedAccelerators.isFirstUnlocked()) {
      <app-upgrade [upgrade]="unlockRedAccelerators"></app-upgrade>
    }
  </div>
</div>
<app-info style="width: 60%" [name]="'red-accelerators-info'" [infoText]="infoText"></app-info>
