<app-number-display *ngIf="boughtUnlockRedAccelerators()"
  [holding]="redAccelerators"
></app-number-display>
<div *ngIf="boughtUnlockRedAccelerators()" class="upgrade-row">
  <div *ngFor="let upgrade of upgrades">
    <app-upgrade *ngIf="upgrade.isUnlocked()" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<div *ngIf="!boughtUnlockRedAccelerators()" class="upgrade-row">
  <div>
    <app-upgrade *ngIf="unlockRedAccelerators.isUnlocked()" [upgrade]="unlockRedAccelerators"></app-upgrade>
  </div>
</div>
<div *ngIf="boughtUnlockRedAccelerators() || boughtBoosterAcceleration()" class="upgrade-row">
  <div>
    <app-upgrade *ngIf="boosterAccelerationUpgrade.isUnlocked()" [upgrade]="boosterAccelerationUpgrade"></app-upgrade>
  </div>
</div>
