<button
  [id]="'buyable-'+upgrade.name"
  [class]="'generator '+upgrade.style+' '+((getIsBuyable()) ? 'buyable' : '')"
  (click)="buy()"
>
  <h4 *ngIf="getDisplayName() !== ''">{{ getDisplayName() }}</h4>
  <p class="description" *ngIf="getDescription() !== ''">{{ getDescription() }}</p>
  <p *ngIf="getEffect()">{{ getEffect() }}</p>
  <p>Cost: {{ getCost() }} {{ getCurrencyAbbreviation() }}</p>
  <div class="challenge-disabled" style="display: none;">
    <h2>Challenge Disabled</h2>
  </div>
</button>
