<button
  [id]="'buyable-'+upgrade.name"
  [class]="'upgrade '+upgrade.style+' '
  +((getIsBuyable()) ? 'buyable' : '')+' '
  +((getIsMaxed()) ? 'maxed' : '')+' '
  +((!isEnabled() || !isUnlocked()) ? 'locked' : '')+' '
  +((isEnhancing()) ? 'enhancing enhancing-' + getEnhancementStyle() : '')+' '
  +((isEnhanced()) ? 'enhanced enhanced-' + getEnhancedStyle() : '')+' '
"
  [disabled]="(!getIsBuyable() && !isEnhancing()) || !isEnabled() || !isUnlocked()"
  (click)="buy()"
>
  <h4 *ngIf="getDisplayName() !== ''">{{ getDisplayName() }}</h4>
  <p class="description" *ngIf="getDescription() !== '' && !isEnhancing()">{{ getDescription() }}</p>
  <p *ngIf="isEnhancing()">{{ getEnhancementString() }}</p>
  <p *ngIf="getEffect()" class="effect">{{ getEffect() }}</p>
  <p *ngIf="!getIsMaxed()" class="cost">{{ getCostString() }}</p>
  @if (!isEnabled() || !isUnlocked()) {
    <div class="disabled-overlay">
      <fa-icon [icon]="faLock"></fa-icon>
    </div>
  }
</button>
