button {
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  height: 12rem;
  width: 13rem;
  --linear-gradient-to: var(--background-color-light);
  background-color: var(--background-color-light);
  border: 1px solid var(--accent-color);
}

button.buyable {
  --linear-gradient-to: var(--background-color-3);
  background-color: var(--background-color-3);
  color: var(--text-color);
}

button.maxed {
  --linear-gradient-to: var(--accent-color);
  background-color: var(--accent-color);
  border-color: var(--background-color);
  color: var(--background-color-1);
}

button p.cost, button p.effect {
  margin: 0.5rem 0 0 0;
}

button.sub p.cost, button.sub p.effect {
  margin: 0;
}

button p {
  margin: 0;
}

button h4 {
  margin: 0 0 0.5rem 0;
}

button.unlock {
  margin: 3rem;
  height: 10rem;
  width: 20rem;
}

button.unlock h4 {
  font-size: 2rem;
}

button.sub {
  height: 5.5rem;
  width: 13rem;
}

button.sub p.description {
  font-weight: bold;
}

button.buyable:not(.maxed):hover {
  cursor: pointer;
  box-shadow: 0 0 10000px rgba(255, 255, 255, 0.1) inset;
}

button.super {
  width: 27rem;
}

button.super h4 {
  font-size: 1.5rem;
}

button.red {
  --accent-color: var(--accent-color-red);
  --text-color: var(--text-color-red);
  --background-color: var(--background-color-red);
}

button.yellow {
  --accent-color: var(--accent-color-yellow);
  --text-color: var(--text-color-yellow);
  --background-color: var(--background-color-yellow);
}

button.proxima-centauri {
  --accent-color: var(--proxima-centauri-color);
  --text-color: var(--proxima-centauri-color);
  --background-color: var(--background-color-1);
}

button.lalande {
  --accent-color: var(--lalande-color);
  --text-color: var(--lalande-color);
  --background-color: var(--background-color-1);
}

button.sun {
  --accent-color: var(--sun-color);
  --text-color: var(--sun-color);
  --background-color: var(--background-color-1);
}

button.sirius {
  --accent-color: var(--sirius-color);
  --text-color: var(--sirius-color);
  --background-color: var(--background-color-1);
}

button.fusion.buyable, button.hydrogen.buyable {
  animation: color-switch 10s infinite;
}

button.fusion {
  --color-switch-1: var(--proxima-centauri-color);
  --color-switch-2: var(--sun-color);
  animation: border-color-switch 10s infinite;
}

button.hydrogen {
  --color-switch-1: var(--rigel-color);
  --color-switch-2: var(--sirius-color);
  animation: border-color-switch 5s infinite;
}

button.enhancing:hover {
  box-shadow: 0 0 10000px rgba(255, 255, 255, 0.1) inset;
  cursor: pointer;
}

button.enhancing.enhancing-yellow {
  background-color: var(--background-color-3);
  border: 1px solid var(--accent-color-yellow);
  color: var(--text-color-yellow);
}

button.enhanced {
  background: linear-gradient(to bottom right,
  var(--linear-gradient-to) 19%,
  var(--linear-gradient-from) 20%,
  var(--linear-gradient-from) 30%,
  var(--linear-gradient-to) 31%,
  var(--linear-gradient-to) 69%,
  var(--linear-gradient-from) 70%,
  var(--linear-gradient-from) 80%,
  var(--linear-gradient-to) 81%
  );
}

button.enhanced.enhanced-yellow {
  --linear-gradient-from: var(--background-color-yellow);
}

button.enhance.buyable.enhanced-yellow {
  --linear-gradient-from: var(--background-color-yellow-dark);
}

@keyframes color-switch {
  0% {
    color: var(--color-switch-1);
    border-color: var(--color-switch-1);
  }
  50% {
    color: var(--color-switch-2);
    border-color: var(--color-switch-2);
  }
  100% {
    color: var(--color-switch-1);
    border-color: var(--color-switch-1);
  }
}

@keyframes border-color-switch {
  0% {
    border-color: var(--color-switch-1);
  }
  50% {
    border-color: var(--color-switch-2);
  }
  100% {
    border-color: var(--color-switch-1);
  }
}
