button {
  cursor: pointer;
}

.navigation-button {
  color: var(--text-color-main);
  font-size: 20px;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  border-left: 1px solid var(--text-color-main);
  border-right: 1px solid var(--text-color-main);
}

.navigation-button.buyable-nav {
  color: var(--green-button-color);
  font-weight: 700;
}

.navigation-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
