<app-number-display [holding]="holdingRecord.getBlackHoleMass()"></app-number-display>
<div class="upgrade-row">
  <div *ngFor="let upgrade of unlockBlackHole">
    <app-upgrade *ngIf="upgrade.unlocked" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<div class="holding-line">
  <app-button *ngIf="hideStartButton" [text]="'Start Black Hole'" (click)="startBlackHole()" [style]="'black-hole-button'"></app-button>
  <app-button *ngIf="hideStopButton" [text]="'Stop Black Hole'" (click)="stopBlackHole()" [style]="'black-hole-button'"></app-button>
</div>
<app-number-display [holding]="holdingRecord.getGravity()"></app-number-display>
<div class="upgrade-row">
  <div *ngFor="let upgrade of blackHoleUpgrades">
    <app-upgrade *ngIf="upgrade.unlocked" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<div class="upgrade-row">
  <div *ngFor="let upgrade of galaxies">
    <app-upgrade *ngIf="upgrade.unlocked" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
