div.milestone {
  background-color: var(--background-color-light);
  height: 1.5rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem;
}

div.milestone.unlocked {
  --text-color-unlocked: var(--text-color-main);
  color: var(--text-color-unlocked);
  background-color: var(--background-color-unlocked);
}

div.milestone.red {
  --background-color-unlocked: var(--accent-color-red);
  --text-color-unlocked: var(--background-color-2);
}

div.milestone.yellow {
  --background-color-unlocked: var(--accent-color-yellow);
  --text-color-unlocked: var(--background-color-2);
}

div.milestone.green {
  --background-color-unlocked: var(--accent-color-green);
  --text-color-unlocked: var(--background-color-2);
}

div.milestone.blue {
  --background-color-unlocked: var(--accent-color-blue);
  --text-color-unlocked: var(--background-color-2);
}

div.milestone.purple {
  --background-color-unlocked: var(--accent-color-purple);
  --text-color-unlocked: var(--background-color-2);
}

div.milestone:hover {
  box-shadow: 0 0 10000px rgba(255, 255, 255, 0.2) inset;
}
