header, footer {
  position: fixed;
  left: 0;
}

header {
  top: 0;
  width: 100%;
  height: 10%;
}

main {
  min-height: 75%;
}

footer {
  bottom: 0;
  display: flex;
  width: 100%;
  height: 15%;
  z-index: 10;
}


/* Challenge backgrounds */

main.proxima-centauri {
  background: radial-gradient(
    circle,
    rgb(255, 198, 132) 0%,
    var(--proxima-centauri-color) 7.5%,
    rgba(218, 72, 43, 0.5) 7.5%,
    var(--background-color-2) 10%
  ) no-repeat center center fixed;
}

main.lalande {
  background: radial-gradient(
    circle,
    rgb(255, 217, 165) 0%,
    var(--lalande-color) 11%,
    rgba(215, 103, 34, 0.5) 11.1%,
    var(--background-color-2) 25%
  ) no-repeat center center fixed;
}

main.sun {
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    var(--sun-color) 13%,
    rgb(217, 199, 91) 13%,
    rgba(243, 211, 102, 0.5) 15%,
    var(--background-color-2) 25%
  ) no-repeat fixed center center;
}

main.sirius {
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    var(--sirius-color) 16%,
    rgba(183, 239, 235, 0.84) 16%,
    rgba(183, 239, 235, 0.5) 19%,
    var(--background-color-2) 30%
  ) no-repeat fixed center center;
}
