<div class="floating-particles"></div>
<div class="floating-particles-extra"></div>
<app-drop-down-message></app-drop-down-message>
<header>
  <app-header style="width: 100%; height: 100%;"></app-header>
</header>
<main [class]="getActiveChallengeStyle()" class="game-card">
  <app-main style="width: 100%; var(--main-height);"></app-main>
  <app-message-steps *ngIf="showMessageSteps()"></app-message-steps>
</main>
<div style="height: var(--footer-height); width: 100%"></div>
<footer>
  <app-footer style="width: 100%; height: 100%;"></app-footer>
</footer>

@if (offlineCalculating()) {
  <app-offline></app-offline>
}
