<app-drop-down-message></app-drop-down-message>
<header>
  <app-header style="width: 100%; height: 100%;"></app-header>
</header>
<div style="height: 10%; width: 100%"></div>
<main [class]="getActiveChallengeStyle()">
  <app-main style="width: 100%; height: 100%;"></app-main>
  <app-message-steps *ngIf="showMessageSteps()"></app-message-steps>
  <app-offline *ngIf="offlineCalculating()"></app-offline>
</main>
<div style="height: 15%; width: 100%"></div>
<footer>
  <app-footer style="width: 100%; height: 100%;"></app-footer>
</footer>
