header, footer {
  position: fixed;
  left: 0;
}

header {
  top: 0;
  width: 100%;
  height: 10%;
}

main {
  min-height: 75%;
}

footer {
  bottom: 0;
  display: flex;
  width: 100%;
  height: 15%;
  z-index: 10;
}


/* Challenge backgrounds */

main.proxima-centauri {
  background: radial-gradient(
    circle,
    rgb(255, 198, 132) 0%,
    rgb(215, 64, 34) 7.5%,
    rgb(199, 24, 8) 7%,
    rgba(218, 72, 43, 0.5) 7.3%,
    var(--background-color-2) 10%
  ) no-repeat center center fixed;
}

main.lalande {
  background: radial-gradient(
    circle,
    rgb(255, 217, 165) 0%,
    rgb(215, 103, 34) 13%,
    rgba(215, 103, 34, 0.5) 13.3%,
    var(--background-color-2) 20%
  ) no-repeat center center fixed;
}
