<button [id]="'buyable-'+name" [class]="'generator '+style" (click)="buy()">
  <h4>{{ displayName }}</h4>
  <div>
    <!--  TODO: implement-->
<!--    <app-number-display [name]="name" [style]="''" [type]="'amount'"></app-number-display>-->
<!--    <app-number-display [name]="name" [style]="''" [type]="'multiplier'"></app-number-display>-->
  </div>
<!--  <app-number-display [name]="name" [style]="''" [type]="'cost'" [currency]="currency"></app-number-display>-->
  <div class="challenge-disabled" style="display: none;">
    <h2>Challenge Disabled</h2>
  </div>
</button>
