button {
  width: 100%;
  border: none;
  color: var(--text-color-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.buyable:hover {
  cursor: pointer;
  box-shadow: 0 0 10000px rgba(255, 255, 255, 0.1) inset;
}

button p {
  margin: 0;
  padding: 0;
}

button.red-style {
  background-color: var(--background-color-red);
  border: 1px solid var(--background-color-red);
}

button.red-style.buyable {
  background-color: var(--background-color-3);
  border: 1px solid var(--text-color-red);
  color: var(--text-color-red);
}
