<button
  [id]="'buyable-'+generator.name"
  [class]="'generator '
  +generator.style+' '
  +((getIsBuyable()) ? 'buyable' : '')+' '
  +((isEnhancing()) ? 'enhancing enhancing-' + getEnhancementStyle() : '')+' '
  +((isEnhanced()) ? 'enhanced enhanced-' + getEnhancedStyle() : '')+' '
"
  (click)="buy()"
>
  <h4 *ngIf="!isEnhancing()">{{ getDisplayName() }}</h4>
  <h4 *ngIf="isEnhancing()">{{ getEnhancementString() }}</h4>
  <div>
    <p>{{ getAmount().toString() }}</p>
    <p>{{ getMultiplier().toString(2) }}x</p>
  </div>
  <p>Cost: {{ getCost() }} {{ getCurrencyAbbreviation() }}</p>
  <div class="challenge-disabled" style="display: none;">
    <h2>Challenge Disabled</h2>
  </div>
</button>
