div.timeline-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25%;
  background: var(--background-color-4);
  border-radius: 10px;
  border: 5px solid var(--background-color-3);
}

div.timeline-event.reached {
  border: 5px solid var(--accent-color);
}

div.timeline-event.red, div.progress-bar.red {
  --accent-color: var(--accent-color-red)
}

div.timeline-event.yellow, div.progress-bar.yellow {
  --accent-color: var(--accent-color-yellow)
}

div.timeline-event.green, div.progress-bar.green {
  --accent-color: var(--accent-color-green)
}

div.timeline-event.blue, div.progress-bar.blue {
  --accent-color: var(--accent-color-blue)
}

div.timeline-event.purple, div.progress-bar.purple {
  --accent-color: var(--accent-color-purple)
}

div.progress-bar.yellow {
  color: var(--background-color-3);
}

div.progress-bar {
  display: grid;
  grid-area: 1/1;
  margin: 0 auto;
  width: 5rem;
  height: 100px;
  background-color: var(--background-color-3);
}

div.progress-bar div.progress {
  align-self: start;
  justify-self: stretch;
  background-color: var(--accent-color);
}

div.progress-bar p {
  position: absolute;
  margin: 0;
  justify-self: center;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
}

div.milestones {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.milestone-details {
  margin-top: 1rem;
  background-color: var(--background-color-3);
  border-radius: 10px;
  border: 5px solid var(--background-color-1);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  padding: 1rem;
}

div.milestone-details p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

div.milestone-details p.description {
  margin: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: normal;
}

div.milestone-details h3 {
  margin: 0;
}

@media (max-width: 768px) {
  div.timeline-event {
    margin: 0 5%;
  }
}
