<article [class]="'timeline-event '+getStyle()+' '+((hasReached()) ? 'reached' : '')+' '+((hasMilestones()) ? 'has-milestones' : '')">
  <header class="event-header">
    <span class="event-status">{{ hasReached() ? 'ARCHIVED' : 'IN PROGRESS' }}</span>
    <h2>{{ getTitle() }}</h2>
    <p>{{ getMessage() }}</p>
  </header>
  <section class="milestone-panel" *ngIf="hasMilestones()">
    <span class="panel-label">MILESTONE DATA</span>
    <div class="milestones">
      <app-milestone *ngFor="let milestone of getMilestones()" [milestone]="milestone" (mouseenter)="setMilestone(milestone)" (mouseleave)="setMilestoneUpcoming()"></app-milestone>
    </div>
    <div class="milestone-details" *ngIf="milestone">
      <h3>{{ getMilestoneName() }}</h3>
      <div class="description">
        @for (descriptionPiece of getMilestoneDescription(); track descriptionPiece) { <p class="description-piece">{{ descriptionPiece }}</p> }
      </div>
      <p class="milestone-goal">{{ getMilestoneGoal() }} {{ getMilestoneHoldingAbbreviation() }}</p>
    </div>
    <div class="milestone-details complete" *ngIf="!milestone"><p>All milestones completed</p></div>
  </section>
  <footer class="event-requirement">
    <span>REQUIREMENT</span>
    <strong>{{ getRequirement() }} {{ getAbbreviation() }}</strong>
  </footer>
</article>
<div *ngIf="hasNext() && showNext()" [class]="'progress-bar '+getStyle()">
  <div class="progress" [style.height]="getProgress()+'%'"></div>
  <p>{{ getProgress().toFixed(2) }}%</p>
</div>
