<div class="holding-line">
  <p class="holding-prefix">You have </p>
  <app-number-display [name]="'yellowPower'" [style]="'yellow-text holding-amount'" [type]="'currency'"></app-number-display>
  <p class="holding-prefix">Yellow Power</p>
</div>
<div class="holding-line">
  <p class="holding-prefix">They multiply red generators by </p>
  <app-number-display [name]="'yellowPower'" [style]="'yellow-text holding-amount'" [type]="'effect'" [effect]="effect"></app-number-display>
</div>
<div class="generators-row">
  <div *ngFor="let generator of generators">
    <app-generator *ngIf="generator.unlocked" [generator]="generator"></app-generator>
  </div>
</div>
