<div class="holding-line">
  <p class="holding-prefix">You have</p>
  <app-number-display [name]="'greenEnergy'" [style]="'green-text holding-amount'" [type]="'currency'"></app-number-display>
  <p class="holding-prefix">Green energy</p>
</div>
<div class="holding-line">
  <p class="holding-prefix">They are equal to</p>
  <app-number-display [name]="'greenEnergy'" [style]="'green-text holding-amount'" [type]="'effect'" [effect]="effect"></app-number-display>
  <p class="holding-prefix">free boosters</p>
</div>
<div class="generators-row">
  <div *ngFor="let generator of generators">
    <app-generator *ngIf="generator.unlocked" [generator]="generator"></app-generator>
  </div>
</div>
<div class="generators-row">
  <div *ngFor="let upgrade of upgrades">
    <app-upgrade *ngIf="upgrade.unlocked" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
