<br/>
<app-button [text]="getToggleAllText()" [style]="'button '+getToggleColor()" (function)="toggleAll()"></app-button>
<app-automator-section [automators]="redGeneratorAutomators" [title]="'Red Generators Automators'" [name]="'redGeneratorAutomators'"></app-automator-section>
<app-automator-section [automators]="redUpgradeAutomators" [title]="'Red Upgrade Automators'" [name]="'redUpgradeAutomators'"></app-automator-section>
<app-automator-section [automators]="redAcceleratorAutomators" [title]="'Red Accelerators Automators'" [name]="'redAcceleratorAutomators'"></app-automator-section>
<app-info style="width: 60%" [name]="'red-automators-info'" [infoText]="infoText"></app-info>
