<div class="generators-row">
  <div class="generator" *ngFor="let generator of generators">
    <app-generator *ngIf="generator.unlocked" [generator]="generator"></app-generator>
    <app-upgrade *ngIf="generator.multiplierUpgrade.unlocked" [upgrade]="generator.multiplierUpgrade"></app-upgrade>
    <app-upgrade *ngIf="generator.buyMultiplierUpgrade.unlocked" [upgrade]="generator.buyMultiplierUpgrade"></app-upgrade>
  </div>
</div>
<div class="upgrade-row">
  <div *ngFor="let upgrade of upgrades">
    <app-upgrade *ngIf="upgrade.unlocked" [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<app-info style="width: 60%" [name]="'red-generators-info'" [infoText]="infoText"></app-info>
