<div class="nav-row">
  <div class="navigation" *ngFor="let subNavigation of subNavigations">
    <app-button *ngIf="subNavigation.isUnlocked()" style="width: 100%; height: 100%;" [object]="subNavigation" [identifier]="subNavigation.name" [icon]="subNavigation.displayName" [style]="'navigation-button'" (function)="navigate($event)"></app-button>
  </div>
</div>
<div class="nav-row">
  <div class="navigation" *ngFor="let navigation of navigations">
    <app-button *ngIf="navigation.isUnlocked()" style="width: 100%; height: 100%;" [object]="navigation" [icon]="navigation.displayIcon" [identifier]="navigation.name" [style]="'navigation-button'" (function)="setNavigation($event)"></app-button>
  </div>
</div>
