<div class="nav-row">
  <div class="navigation" *ngFor="let subNavigation of subNavigations">
    <app-button *ngIf="subNavigation.unlocked" style="width: 100%; height: 100%;" [object]="subNavigation" [identifier]="subNavigation.name" [text]="subNavigation.displayName" [style]="'navigation-button'" (function)="navigate($event)"></app-button>
  </div>
</div>
<div class="nav-row">
  <div class="navigation" *ngFor="let navigation of navigations">
    <app-button *ngIf="navigation.unlocked" style="width: 100%; height: 100%;" [object]="navigation" [text]="navigation.displayName" [identifier]="navigation.name" [style]="'navigation-button'" (function)="setNavigation($event)"></app-button>
  </div>
</div>
