:root {
  --background-color-1: rgb(21, 21, 21);
  --background-color-2: rgb(26, 26, 26);
  --background-color-3: rgb(16, 16, 16);
  --text-color-main: rgb(226, 226, 226);
  --text-color-red: rgb(226, 78, 78);
  --text-color-yellow: rgb(229, 237, 36);
  --text-color-green: rgb(93, 231, 77);
  --text-color-blue: rgb(21, 177, 224);
  --text-color-purple: rgb(139, 73, 222);
  --red-button-color: rgb(170, 45, 45);
  --yellow-button-color: rgb(217, 223, 47);
  --fusion-red-color: rgb(229, 91, 47);
  --green-button-color: rgb(100, 210, 74);
  --blue-button-color: rgb(48, 151, 217);
  --purple-button-color: rgb(135, 51, 208);
  --dark-button-color: rgb(67, 67, 67);
  --transparent-background-red: rgb(117, 49, 49);
  --transparent-background-yellow: rgb(153, 153, 65);
  --fusion-red-background-color: rgb(134, 65, 43);
  --transparent-background-green: rgb(54, 99, 35);
  --transparent-background-blue: rgb(36, 78, 107);
  --transparent-background-purple: rgb(77, 51, 124);
  --transparent-background-dark: rgb(36, 36, 36);
  --transparent-background-light: rgb(174, 174, 174);
  --light-blue-color: rgb(185, 219, 247);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  text-align: center;
  color: var(--text-color-main);
  font-size: 12px;
  height: 100%;
  width: 100%;
  background-color: var(--background-color-2);
}



h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  z-index: 10;
  height: 10%;
  background-color: var(--background-color-1);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
}

main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -100;
}

#transparent-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 36, 36, 0.8);
  z-index: -90;
}

.page {
  width: 100%;
  height: 100%;
}

footer {
  z-index: 10;
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-3);
  position: fixed;
  left: 0;
  bottom: 0;
}

.items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-row {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 100%;
}

.navigation-button {
  background-color: var(--background-color-3);
  border-left: var(--text-color-main) solid 3px;
  border-right: var(--text-color-main) solid 3px;
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: unset;
}

.buyable-nav {
  color: var(--green-button-color);
  font-weight: bold;
}

.navigation-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.number-display {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.holding-display {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.holding-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.holding-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.holding-prefix {
  margin: 0 !important;
}

.holding-amount {
  margin: 4px !important;
}

#purpleParticles-currency {
  font-size: 24px;
}

#blueParticles-currency {
  font-size: 18px;
}

#greenParticles-currency {
  font-size: 20px;
}

#yellowParticles-currency {
  font-size: 22px;
}

#redParticles-currency {
  font-size: 28px;
}

.generator {
  width: 100%;
  height: 50px;
  border-bottom: solid 1px var(--red-button-color);
  border-top: solid 1px var(--red-button-color);
  background: var(--transparent-background-red);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: white;
  box-shadow: 3px 3px 0 var(--background-color-1);
  text-shadow: 0 0 3px var(--background-color-1), 0 0 6px var(--background-color-1);
}

.generator > * {
  width: 100%;
}

.uneven {
  background-color: rgba(0, 0, 0, 0.25) !important;
  background-blend-mode: darken;
}

.generator-red-style {
  background: repeating-radial-gradient(var(--transparent-background-red), var(--transparent-background-red));
  border-color: var(--red-button-color);
}

.generator-accelerator-style {
  background: repeating-linear-gradient(var(--transparent-background-red), var(--transparent-background-dark), var(--transparent-background-red));
  border-color: var(--red-button-color);
}

.generator-red-purple-style {
  background: repeating-linear-gradient(var(--red-button-color), transparent 50%, var(--red-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--purple-button-color)  50%, transparent 100%), var(--background-color-2);
  border-color: var(--red-button-color);
  background-size: 200% 200%;
  animation: gliding 10s linear infinite;
}

.generator-yellow-style {
  background: repeating-radial-gradient(var(--transparent-background-yellow), var(--transparent-background-yellow));
  border-color: var(--yellow-button-color);
}

.generator-yellow-purple-style {
  background: repeating-linear-gradient(var(--yellow-button-color), transparent 50%, var(--yellow-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--purple-button-color)  50%, transparent 100%), var(--background-color-2);
  border-color: var(--yellow-button-color);
  background-size: 200% 200%;
  animation: gliding 10s linear infinite;
}

.generator-green-style {
  background: repeating-radial-gradient(var(--transparent-background-green), var(--transparent-background-green));
  border-color: var(--green-button-color);
}

.generator-nuclear-style {
  background: repeating-linear-gradient(var(--green-button-color), var(--yellow-button-color), var(--green-button-color));
  border-color: var(--green-button-color);
  background-size: 200% 200%;
  animation: fall 10s linear infinite;
}

.generator-green-purple-style {
  background: repeating-linear-gradient(var(--green-button-color), transparent 50%, var(--green-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--purple-button-color)  50%, transparent 100%), var(--background-color-2);
  border-color: var(--green-button-color);
  background-size: 200% 200%;
  animation: gliding 10s linear infinite;
}

.generator-blue-style {
  background: repeating-radial-gradient(var(--transparent-background-blue), var(--transparent-background-blue));
  border-color: var(--blue-button-color);
}

.generator-neutron-style {
  background: repeating-linear-gradient(var(--transparent-background-blue) 0%, var(--transparent-background-blue) 40%, var(--light-blue-color) 50%, var(--transparent-background-blue) 60%, var(--transparent-background-blue) 100%);
  background-size: 500% 500%;
  border-color: var(--blue-button-color);
  animation: fall 10s linear infinite;
}

.generator-blue-purple-style {
  background: repeating-linear-gradient(var(--blue-button-color), transparent 50%, var(--blue-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--purple-button-color)  50%, transparent 100%), var(--background-color-2);
  border-color: var(--blue-button-color);
  background-size: 200% 200%;
  animation: gliding 10s linear infinite;
}

.generator-purple-style {
  background: repeating-radial-gradient(var(--transparent-background-purple), var(--transparent-background-purple));
  border-color: var(--purple-button-color);
}

.cost {
  color: var(--transparent-background-light);
}

.red-style.buyable .cost,
.accelerator-style.buyable .cost,
.red-purple-style.buyable .cost,
.generator-red-style.buyable .cost,
.generator-accelerator-style.buyable .cost,
.generator-red-purple-style.buyable .cost {
  color: var(--text-color-red);
}

.yellow-style.buyable .cost,
.fusion-style.buyable .cost,
.yellow-purple-style.buyable .cost,
.generator-yellow-style.buyable .cost,
.generator-yellow-purple-style.buyable .cost {
  color: var(--text-color-yellow);
}

.green-style.buyable .cost,
.sacrifice-style.buyable .cost,
.limited-style.buyable .cost,
.nuclear-style.buyable .cost,
.green-purple-style.buyable .cost,
.generator-green-style.buyable .cost,
.generator-nuclear-style.buyable .cost,
.generator-green-purple-style.buyable .cost {
  color: var(--text-color-green);
}

.blue-style.buyable .cost,
.light-style.buyable .cost,
.blue-purple-style.buyable .cost,
.generator-blue-style.buyable .cost,
.generator-neutron-style.buyable .cost,
.generator-blue-purple-style.buyable .cost {
  color: var(--text-color-blue);
}

.purple-style.buyable .cost,
.black-hole-style.buyable .cost,
.generator-purple-style.buyable .cost {
  color: var(--text-color-purple);
}

.generators-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.upgrade-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.upgrade {
  width: 150px;
  height: 125px;
  display: flex;
  margin: 3px;
  padding: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
  font-size: 12px;
  box-shadow: 3px 3px 0 var(--background-color-1);
  text-shadow: 0 0 3px var(--background-color-1), 0 0 6px var(--background-color-1);
}

.red-style {
  border-color: var(--red-button-color);
  background-color: var(--transparent-background-red);
}

.red-style.buyable, .accelerator-style.buyable, .generator-red-style.buyable, .generator-accelerator-style.buyable, .generator-red-style.buyable, .generator-red-purple-style.buyable {
  box-shadow: inset 0 0 25px 15px var(--red-button-color) ;
}

.red-style.maxed, .accelerator-style.maxed, .generator-accelerator-style.maxed, .generator-red-style.maxed, .generator-red-purple-style.maxed {
  background-color: var(--red-button-color);
  border-color: var(--text-color-red);
}

.yellow-style {
  border-color: var(--yellow-button-color);
  background-color: var(--transparent-background-yellow);
}

.yellow-style.buyable, .fusion-style.buyable, .yellow-purple-style.buyable, .generator-yellow-style.buyable, .generator-yellow-purple-style.buyable {
  box-shadow: inset 0 0 25px 15px var(--yellow-button-color) ;
}

.yellow-style.maxed, .fusion-style.maxed, .yellow-challenge.reached, .generator-yellow-style.maxed, .generator-purple-yellow-style.maxed {
  background-color: var(--yellow-button-color);
  border-color: var(--text-color-yellow);
}

.green-style {
  border: solid 1px var(--green-button-color);
  background-color: var(--transparent-background-green);
}

.green-style.buyable, .nuclear-style.buyable, .limited-style.buyable, .sacrifice-style.buyable, .green-purple-style.buyable, .generator-green-style.buyable, .generator-nuclear-style.buyable, .generator-green-purple-style.buyable {
  box-shadow: inset 0 0 25px 15px var(--green-button-color) ;
}

.green-style.maxed, .green-challenge.reached, .limited-style.maxed, .generator-green-style.maxed, .generator-nuclear-style.maxed, .generator-green-purple-style.maxed {
  background-color: var(--green-button-color);
  border-color: var(--text-color-green);
}

.nuclear-style.maxed {
  background-color: var(--transparent-background-green);
  border-color: var(--text-color-green);
}

.blue-style {
  border: solid 1px var(--blue-button-color);
  background-color: var(--transparent-background-blue);
}

.blue-style.buyable, .light-style.buyable, .blue-purple-style.buyable, .generator-blue-style.buyable, .generator-neutron-style.buyable, .generator-blue-purple-style.buyable {
  box-shadow: inset 0 0 25px 5px var(--blue-button-color) ;
}

.blue-style.maxed, .blue-challenge.reached, .generator-blue-style.maxed, .generator-neutron-style.maxed, .generator-blue-purple-style.maxed {
  background-color: var(--blue-button-color);
  border-color: var(--text-color-blue);
}

.neutron-style {
  background: repeating-linear-gradient(90deg, var(--transparent-background-blue) 0%, var(--transparent-background-blue) 40%, var(--light-blue-color) 50%, var(--transparent-background-blue) 60%, var(--transparent-background-blue) 100%);
  background-size: 500% 500%;
  border-color: var(--blue-button-color);
  animation: slide 10s linear infinite;
}

.neutron-style.maxed {
  background: repeating-linear-gradient(90deg, var(--blue-button-color) 0%, var(--blue-button-color) 40%, var(--light-blue-color) 50%, var(--blue-button-color) 60%, var(--blue-button-color) 100%);
  background-size: 500% 500%;
  border-color: var(--blue-button-color);
  animation: slide 10s linear infinite;
}

.light-style.maxed {
  background: repeating-radial-gradient(var(--light-blue-color), var(--blue-button-color), var(--transparent-background-blue) 50%, transparent 100%),
  repeating-radial-gradient(var(--transparent-background-blue), var(--transparent-background-blue), transparent 60%, transparent 100%),
  repeating-linear-gradient(transparent, var(--blue-button-color) 50%, transparent 100%),
  repeating-radial-gradient(#213146, transparent 50%, #213146 100%);
  background-position: center;
  animation: pulse 5s ease-in-out infinite !important;
}

.purple-style {
  border: solid 1px var(--purple-button-color);
  background-color: var(--transparent-background-purple);
}

.purple-style.buyable, .black-hole-style.buyable {
  box-shadow: inset 0 0 25px 5px var(--purple-button-color) ;
}

.purple-style.maxed {
  background-color: var(--purple-button-color);
  border-color: var(--text-color-purple);
}

.black-hole-style.maxed {
  background: repeating-radial-gradient(white, var(--purple-button-color) 40%, transparent 70%, transparent 100%),
  repeating-radial-gradient(var(--transparent-background-purple), var(--transparent-background-purple), transparent 60%, transparent 100%),
  repeating-linear-gradient(transparent, var(--transparent-background-purple) 50%, transparent 100%),
  repeating-radial-gradient(#211836, var(--background-color-3) 50%, #211836 100%);
  background-position: center;
  animation: pulse 5s ease-in-out infinite;
}

.black-hole-style {
  background: repeating-radial-gradient(var(--background-color-3), var(--purple-button-color) 40%, transparent 70%, transparent 100%),
  repeating-radial-gradient(var(--transparent-background-purple), var(--transparent-background-purple), transparent 60%, transparent 100%),
  repeating-linear-gradient(transparent, var(--transparent-background-purple) 50%, transparent 100%),
  repeating-radial-gradient(#211836, var(--background-color-3) 50%, #211836 100%);
  background-position: center;
  animation: pulse 5s ease-in-out infinite;
  color: var(--text-color-purple);
  border: solid 1px var(--purple-button-color);
  border-radius: 3px;
}

.red-purple-style {
  border: solid 1px var(--purple-button-color);
  background: repeating-linear-gradient(var(--red-button-color), transparent 50%, var(--red-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--purple-button-color)  50%, transparent 100%), var(--background-color-2);
}

.yellow-purple-style {
  border: solid 1px var(--purple-button-color);
  background: repeating-linear-gradient(var(--yellow-button-color), transparent 50%, var(--yellow-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--purple-button-color)  50%, transparent 100%), var(--background-color-2);
}

.green-purple-style {
  border: solid 1px var(--purple-button-color);
  background: repeating-linear-gradient(var(--green-button-color), transparent 50%, var(--green-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--purple-button-color)  50%, transparent 100%), var(--background-color-2);
}

.blue-purple-style {
  border: solid 1px var(--purple-button-color);
  background: repeating-linear-gradient(var(--blue-button-color), transparent 50%, var(--blue-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--purple-button-color)  50%, transparent 100%), var(--background-color-2);
}

.red-purple-style, .yellow-purple-style, .green-purple-style, .blue-purple-style {
  background-size: 200% 200%;
  animation: gliding 5s linear infinite;
}

.sacrifice-style {
  background-color: var(--background-color-1);
  color: var(--green-button-color);
  border: solid 1px var(--green-button-color);
  border-radius: 3px;
  height: 100px;
}

.limited-style {
  border: solid 1px var(--green-button-color);
  background-color: var(--transparent-background-green);
  border-radius: 3px;
  height: 100px;
}

.light-style {
  background: repeating-radial-gradient(var(--blue-button-color), transparent 50%, transparent 100%),
  repeating-radial-gradient(var(--transparent-background-blue), var(--transparent-background-blue), transparent 60%, transparent 100%),
  repeating-linear-gradient(transparent, var(--transparent-background-blue) 50%, transparent 100%),
  repeating-radial-gradient(#213146, var(--background-color-3) 50%, #213146 100%);
  background-position: center;
  animation: pulse 5s ease-in-out infinite;
  text-shadow: 0 0 3px var(--transparent-background-blue), 0 0 6px var(--transparent-background-blue);
  color: var(--blue-button-color);
  border: solid 1px var(--blue-button-color);
  border-radius: 3px;
}

.automator .maxed, .red-automator .maxed, .yellow-automator .maxed, .green-automator .maxed, .blue-automator .maxed {
  background-color: var(--dark-button-color) !important;
}

.automator {
  border: solid 2px var(--dark-button-color);
  border-radius: 3px;
  background-color: var(--transparent-background-dark);
}

.red-automator {
  color: var(--text-color-red);
}

.yellow-automator {
  color: var(--text-color-yellow)
}

.green-automator {
  color: var(--text-color-green)
}

.blue-automator {
  color: var(--text-color-blue);
}

.purple-automator {
  color: var(--text-color-purple);
}

.prestige-automator-button {
  cursor: pointer;
  font-size: 12px;
  background-color: var(--background-color-2);
  border-radius: 3px;
}

.prestige-automator-button.yellow {
  border: 1px solid var(--yellow-button-color);
}

.prestige-automator-button.green {
  border: 1px solid var(--green-button-color);
}

.prestige-automator-button.blue {
  border: 1px solid var(--blue-button-color);
}

.automator-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
}

.automator-form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox {
  width: 25px;
}

.fusion-style {
  border: solid 1px var(--yellow-button-color);
  background: repeating-radial-gradient(var(--red-button-color), var(--yellow-button-color));
  background-size: 200% 200%;
  animation: gliding 4s linear infinite;
}

.accelerator-style {
  border: solid 1px var(--red-button-color);
  background: repeating-radial-gradient(var(--transparent-background-red), var(--transparent-background-light));
  background-size: 200% 200%;
  animation: gliding 5s linear infinite;
}

.nuclear-style {
  border: solid 1px var(--green-button-color);
  background: repeating-linear-gradient(var(--green-button-color), transparent 50%, var(--green-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--yellow-button-color)  50%, transparent 100%), var(--background-color-3);
  background-size: 200% 200%;
  animation: gliding 10s linear infinite;
}

.upgrade p {
  margin: 0;
}

input {
  width: 100px;
}

button {
  background-color: var(--red-button-color);;
  border: none;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.automator button.buyable {
  background-color: var(--green-button-color);
}

.automator button.buyable p {
  color: white !important;
}

.challenge-button {
  height: 25px;
  background-color: var(--dark-button-color);
}

.challenge-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.normal-button {
  width: auto;
  height: auto;
  background-color: var(--dark-button-color);
  border-radius: 3px;
}

.normal-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.info-button {
  margin: 25px 0;
  width: auto;
  height: auto;
  background-color: var(--transparent-background-blue);
  border-radius: 3px;
}

.info-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.exit-button {
  font-size: 20px;
  margin: 0;
  position: fixed;
  bottom: 17.8%;
  width: 90%;
  height: auto;
  background-color: var(--red-button-color);
}

.exit-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.buyable:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

app-prestige-button {
  width: 100%;
  height: 100%;
}

.prestige-button {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 2px solid;
  cursor: pointer;
  background-color: var(--background-color-1) !important;
}

.prestige-button.yellow-style {
  background-color: var(--background-color-2);
}

.prestige-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.prestige-button.unreached {
  opacity: 50%;
  cursor: unset;
}

.prestige-button.unreached:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0);
}

.sacrifice-button {
  margin: 10px 0;
  background-color: var(--background-color-3);
  border: 1px solid var(--green-button-color);
  border-radius: 3px;
  color: var(--green-button-color);
}

.sacrifice-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.black-hole-button {
  margin: 10px 0;
  background-color: var(--background-color-3);
  border: 1px solid var(--purple-button-color);
  border-radius: 3px;
  color: var(--purple-button-color);
}

.black-hole-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.challenge {
  border: 2px solid var(--dark-button-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  border-radius: 3px;
  width: 300px;
  height: 150px;
  font-size: 12px;
  box-shadow: 3px 3px 0 var(--background-color-1);
  text-shadow: 0 0 3px var(--background-color-1), 0 0 6px var(--background-color-1);
}

.challenge p {
  padding: 0;
  margin: 0;
}

.red-challenge {
  background: linear-gradient(var(--transparent-background-dark), var(--transparent-background-red));
}

.yellow-challenge {
  background: linear-gradient(var(--transparent-background-dark), var(--transparent-background-yellow));
}

.green-challenge {
  background: linear-gradient(var(--transparent-background-dark), var(--transparent-background-green));
}

.blue-challenge {
  background: linear-gradient(var(--transparent-background-dark), var(--transparent-background-blue));
}

.yellow-prestige {
  border-color: var(--yellow-button-color);
  color: var(--text-color-yellow);
}
.green-prestige {
  border-color: var(--green-button-color);
  color: var(--text-color-green);
}

.blue-prestige {
  border-color: var(--blue-button-color);
  color: var(--text-color-blue);
}

.purple-prestige {
  border-color: var(--purple-button-color);
  color: var(--text-color-purple);
}

.combiner {
  width: 120px;
  height: 80px;
  display: flex;
  margin: 3px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
  box-shadow: 3px 3px 0 var(--background-color-1);
}

.combination {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.empty-combiner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-1);
  height: 80px;
  width: 120px;
  border: 2px solid var(--dark-button-color);
}
.filled-combiner-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-background-blue);
  height: 80px;
  width: 120px;
  border: 2px solid var(--blue-button-color);
}

.red-star {
  color: var(--red-button-color);
  background-color: var(--background-color-1);
  border: solid 1px var(--red-button-color);
  width: 150px;
  height: 150px;
  padding: 15px;
  margin: 25px;
  border-radius: 125px;
  box-shadow: 0 0 40px var(--red-button-color);
}

.red-star .maxed {
  background-color: rgba(1, 1, 1, 0) !important;
  color: rgba(1, 1, 1, 0) !important;
}
.blue-star .maxed {
  background-color: rgba(1, 1, 1, 0) !important;
  color: rgba(1, 1, 1, 0) !important;
}
.green-star .maxed {
  background-color: rgba(1, 1, 1, 0) !important;
  color: rgba(1, 1, 1, 0) !important;
}
.blue-star .maxed {
  background-color: rgba(1, 1, 1, 0) !important;
  color: rgba(1, 1, 1, 0) !important;
}

.yellow-star {
  color: var(--yellow-button-color);
  background-color: var(--background-color-1);
  border: solid 1px var(--yellow-button-color);
  width: 150px;
  height: 150px;
  padding: 15px;
  margin: 25px;
  border-radius: 125px;
  box-shadow: 0 0 40px var(--yellow-button-color);
}

.green-star {
  color: var(--green-button-color);
  background-color: var(--background-color-1);
  border: solid 1px var(--green-button-color);
  width: 150px;
  height: 150px;
  padding: 15px;
  margin: 25px;
  border-radius: 125px;
  box-shadow: 0 0 40px var(--green-button-color);
}

.blue-star {
  color: var(--blue-button-color);
  background: repeating-linear-gradient(var(--blue-button-color), transparent 50%, var(--blue-button-color) 100%),
  repeating-linear-gradient(90deg, transparent, var(--blue-button-color)  50%, transparent 100%), white;
  background-size: 200% 200%;
  animation: gliding 200ms linear infinite;
  border: solid 1px var(--blue-button-color);
  width: 150px;
  height: 150px;
  padding: 15px;
  margin: 25px;
  border-radius: 125px;
  box-shadow: 0 0 40px var(--blue-button-color);
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeline-event {
  width: 250px;
  height: 100px;
  padding: 5px;
  background: var(--dark-button-color);
  border: solid 2px var(--text-color-main);
  border-radius: 3px;
}

.progress-bar-container {
  width: 16%;
  height: 100px;
  margin: 0 42%;
  background: var(--dark-button-color);
}

.progress-bar {
  width: 100%;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-button-color);
}

.progress-bar p {
  text-align: center;
}


/* Colored Text */
.red-text {
  color: var(--text-color-red);
  font-weight: bold;
}

.yellow-text {
  color: var(--text-color-yellow);
  font-weight: bold;
}

.green-text {
  color: var(--text-color-green);
  font-weight: bold;
}

.blue-text {
  color: var(--text-color-blue);
  font-weight: bold;
}

.purple-text {
  color: var(--text-color-purple);
  font-weight: bold;
}

.pre-purple-text {
  text-shadow: 0 0 10px var(--text-color-purple), 1px 1px 0 var(--text-color-purple), 1px -1px 0 var(--text-color-purple),
  -1px 1px 0 var(--text-color-purple), -1px -1px 0 var(--text-color-purple),
  0 1px 0 var(--text-color-purple), 0 -1px 0 var(--text-color-purple),
  1px 0 0 var(--text-color-purple), -1px 0 0 var(--text-color-purple);
  font-weight: bold;
}

.red-purple-text {
  color: var(--text-color-red);
}

.yellow-purple-text {
  color: var(--text-color-yellow);
}

.green-purple-text {
  color: var(--text-color-green);
}

.blue-purple-text {
  color: var(--text-color-blue);
}

.dark-text {
  font-weight: bold;
  color: var(--background-color-3);
  text-shadow: 0 0 10px var(--green-button-color), 1px 1px 0 var(--green-button-color), 1px -1px 0 var(--green-button-color),
  -1px 1px 0 var(--green-button-color), -1px -1px 0 var(--green-button-color),
  0 1px 0 var(--green-button-color), 0 -1px 0 var(--green-button-color),
  1px 0 0 var(--green-button-color), -1px 0 0 var(--green-button-color);
}

.light-text {
  font-weight: bold;
  color: white;
  text-shadow: 0 0 15px var(--blue-button-color), 1px 1px 0 var(--blue-button-color), 1px -1px 0 var(--blue-button-color),
  -1px 1px 0 var(--blue-button-color), -1px -1px 0 var(--blue-button-color),
  0 1px 0 var(--blue-button-color), 0 -1px 0 var(--blue-button-color),
  1px 0 0 var(--blue-button-color), -1px 0 0 var(--blue-button-color);
}

.black-hole-text {
  font-weight: bold;
  color: var(--background-color-3);
  text-shadow: 0 0 15px var(--purple-button-color), 1px 1px 0 var(--purple-button-color), 1px -1px 0 var(--purple-button-color),
  -1px 1px 0 var(--purple-button-color), -1px -1px 0 var(--purple-button-color),
  0 1px 0 var(--purple-button-color), 0 -1px 0 var(--purple-button-color),
  1px 0 0 var(--purple-button-color), -1px 0 0 var(--purple-button-color);
}

.subject-target-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 12px 3%;
}

.no-display {
  display: none;
}

.pop-up-window {
  overflow: scroll;
  overflow-x: hidden;
  position: fixed;
  font-size: 20px;
  width: 90%;
  height: 70%;
  left: 5%;
  top: 12%;
  background-color: var(--background-color-2);
  border: solid 2px var(--background-color-1)
}

.pop-up-bottom {
  height: 100px;
}

.particle-emitter {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -10;
}

.challenge-disabled {
  z-index: 5;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgba(29, 29, 29, 0.5);
}

.upgrade .challenge-disabled {
  width: 150px;
  height: 125px;
}

.upgrade.limited-style .challenge-disabled {
  width: 150px;
  height: 100px;
  border-radius: 3px;
}

.upgrade.sacrifice-style .challenge-disabled {
  width: 150px;
  height: 100px;
  border-radius: 3px;
}

.generator .challenge-disabled {
  width: 150px;
  height: 85px;
  border-radius: 3px;
}

.challenge .challenge-disabled {
  width: 300px;
  height: 150px;
  border-radius: 3px;
}

#drop-down-message {
  z-index: 100;
  width: 90%;
  background-color: var(--blue-button-color);
  border: solid 2px var(--transparent-background-blue);
  border-radius: 3px;
  position: fixed;
  top: -100px;
  display: flex;
  animation: linear 2s;
  flex-direction: column;
  padding: 10px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

#ddm-title {
  font-weight: bold;
}

#ddm-content {
  margin: 0;
}

@media screen and (orientation: landscape) {
  .info {
    width: 90%;
    margin: 12px 5%;
  }

  .pop-up-window {
    width: 60%;
    height: 70%;
    left: 20%;
    top: 12.5%;
  }

  .exit-button {
    position: fixed;
    bottom: 17.2%;
    width: 60%;
  }

  #main-background {
    background-size: 100%;
  }

  #drop-down-message {
    width: 60%;
  }

  #purpleParticles-currency {
    font-size: 20px;
  }

  #blueParticles-currency {
    font-size: 16px;
  }

  #greenParticles-currency {
    font-size: 18px;
  }

  #yellowParticles-currency {
    font-size: 20px;
  }

  #redParticles-currency {
    font-size: 22px;
  }
}

@keyframes gliding {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 200% 200%;
  }
}

@keyframes pulse {
  0% {
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
  }
  50% {
    background-size: 120% 120%, 110% 110%, 120% 120%, 80% 80%;
  }
  100% {
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
  }
}

@keyframes fall {
  0% {
    background-position: 0 200%;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes slide {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: 0 0;
  }
}
