:root {
  --background-color-1: rgb(26, 26, 26);
  --background-color-2: rgb(36, 36, 36);
  --background-color-3: rgb(16, 16, 16);
  --text-color-main: rgb(241, 246, 255);
  --text-color-red: rgb(226, 78, 78);
  --text-color-yellow: rgb(229, 237, 36);
  --text-color-green: rgb(93, 231, 77);
  --red-button-color: rgb(170, 45, 45);
  --yellow-button-color: rgb(231, 237, 50);
  --green-button-color: rgb(100, 210, 74);
  --dark-button-color: rgb(67, 67, 67);
  --transparent-background-red: rgba(199, 77, 77, 0.3);
  --transparent-background-yellow: rgba(220, 213, 44, 0.3);
  --transparent-background-green: rgba(79, 219, 56, 0.3);
  --transparent-background-dark: rgba(89, 89, 89, 0.3);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  color: var(--text-color-main);
  font-size: 12px;
  height: 100%;
  width: 100%;
  background-color: var(--background-color-2);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

header {
  height: 10%;
  background-color: var(--background-color-1);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100%;
}

.page {
  width: 100%;
  height: 100%;
}

footer {
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-3);
  position: fixed;
  left: 0;
  bottom: 0;
}

.items {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-row {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 100%;
}

.navigation-button {
  background-color: var(--background-color-3);
  border-left: var(--text-color-main) solid 3px;
  border-right: var(--text-color-main) solid 3px;
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: unset;
}

.navigation-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.number-display {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.holding-display {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.holding-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.holding-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.holding-prefix {
  margin: 0 !important;
}

.holding-amount {
  margin: 4px !important;
}

.generator {
  width: 125px;
  border: solid 1px var(--red-button-color);
  background: var(--transparent-background-red);
  border-radius: 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.generators-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.upgrade-row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.upgrade {
  width: 150px;
  height: 125px;
  display: flex;
  margin: 3px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.red-style {
  border: solid 1px var(--red-button-color);
  background-color: var(--transparent-background-red);
}

.yellow-style {
  border: solid 1px var(--yellow-button-color);
  background-color: var(--transparent-background-yellow);
}

.green-style {
  border: solid 1px var(--green-button-color);
  background-color: var(--transparent-background-green);
}

.automator {
  border: solid 2px var(--dark-button-color);
  border-radius: 3px;
  background-color: var(--transparent-background-dark);
}

.upgrade p {
  margin: 0;
}

.maxed {
  background-color: var(--red-button-color) !important;
}

input {
  width: 100px;
}

button {
  background-color: var(--red-button-color);;
  border: none;
  color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.challenge-button {
  background-color: var(--dark-button-color);
}

.challenge-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.normal-button {
  width: auto;
  height: auto;
  background-color: var(--dark-button-color);
  border-radius: 3px;
}

.normal-button:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.buyable {
  background-color: var(--green-button-color);
}

.buyable:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.prestige-button {
  border-radius: 3px;
  border: 2px solid;
  cursor: pointer;
}

.challenge {
  border: 2px solid var(--dark-button-color);
  margin: 5px;
  border-radius: 3px;
  width: 300px;
}

.red-challenge {
  background: linear-gradient(var(--dark-button-color), var(--red-button-color));
}

.yellow-challenge {
  background: linear-gradient(var(--dark-button-color), var(--yellow-button-color));
}

.green-challenge {
  background: linear-gradient(var(--dark-button-color), var(--green-button-color));
}

.yellow-prestige {
  background-color: var(--transparent-background-yellow);
  border-color: var(--yellow-button-color);
}
.green-prestige {
  background-color: var(--transparent-background-green);
  border-color: var(--green-button-color);
}

.yellow-prestige:hover {
  background-color: var(--yellow-button-color);
}
.green-prestige:hover {
  background-color: var(--green-button-color);
}


/* Colored Text */
.red-text {
  color: var(--text-color-red)
}

.yellow-text {
  color: var(--text-color-yellow)
}

.green-text {
  color: var(--text-color-green)
}
