.holding-section {
  padding: 1rem 0;
  background-color: var(--background-color-2);
  border-bottom: 1px solid var(--background-color-4);
  height: 10vh;
}

div.action-message {
  position: fixed;
  top: 150px;
  z-index: 500;
  width: 100%;
  border-radius: 5px;
}

.page {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
