<div class="holding-section">
  <div class="holding-line">
    <p class="holding-prefix" *ngIf="unlockedPurple || purplePhase">You have </p><app-number-display *ngIf="unlockedPurple || purplePhase" [name]="'purpleParticles'" [style]="'purple-text holding-amount'" [type]="'currency'" [permanent]="true"></app-number-display><p *ngIf="unlockedPurple || purplePhase" class="holding-prefix">Purple Particles</p>
  </div>
  <div class="holding-line">
    <p class="holding-prefix" *ngIf="unlockedBlue || purplePhase">You have </p><app-number-display *ngIf="unlockedBlue || purplePhase" [name]="'blueParticles'" [style]="'blue-text holding-amount'" [type]="'currency'" [permanent]="true"></app-number-display><p *ngIf="unlockedBlue || purplePhase" class="holding-prefix">Blue Particles</p>
  </div>
  <div class="holding-line">
    <p class="holding-prefix" *ngIf="unlockedGreen || purplePhase">You have </p><app-number-display *ngIf="unlockedGreen || purplePhase" [name]="'greenParticles'" [style]="'green-text holding-amount'" [type]="'currency'" [permanent]="true"></app-number-display><p *ngIf="unlockedGreen || purplePhase" class="holding-prefix">Green Particles</p>
  </div>
  <div class="holding-line">
    <p class="holding-prefix" *ngIf="unlockedYellow || purplePhase">You have </p><app-number-display *ngIf="unlockedYellow || purplePhase" [name]="'yellowParticles'" [style]="'yellow-text holding-amount'" [type]="'currency'" [permanent]="true"></app-number-display><p *ngIf="unlockedYellow || purplePhase" class="holding-prefix">Yellow Particles</p>
  </div>
  <app-number-display
    [holding]="HoldingRecord.redParticles"
  />
</div>
<div class="page">
<!--  <router-outlet></router-outlet>-->
</div>
