<div class="main-container">
  <div class="holding-section">
    <app-number-display *ngIf="getPrestigedGreen()"
                        [holding]="greenParticles"
    ></app-number-display>
    <app-number-display *ngIf="getPrestigedYellow()"
                        [holding]="yellowParticles"
    ></app-number-display>
    <app-number-display
      [holding]="holdingRecord.getRedParticles()"
    ></app-number-display>
  </div>
  <div *ngFor="let enhancement of getEnhancements()" class="action-message {{ enhancement.style }}">
    <h2>{{ enhancement.actionMessage }}</h2>
    @if (canEnhanceAll(enhancement)) {
      <app-button [style]="'button '+enhancement.style" (function)="enhanceAll(enhancement)" [text]="'Enhance all'"></app-button>
    }
  </div>
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>
