<div class="holding-section">
  <app-number-display
    [holding]="holdingRecord.getPurpleParticles()"
  ></app-number-display>
  <app-number-display
    [holding]="holdingRecord.getBlueParticles()"
  ></app-number-display>
  <app-number-display
    [holding]="holdingRecord.getGreenParticles()"
  ></app-number-display>
  <app-number-display
    [holding]="holdingRecord.getYellowParticles()"
  ></app-number-display>
  <app-number-display
    [holding]="holdingRecord.getRedParticles()"
  ></app-number-display>
</div>
<div class="page">
<!--  <router-outlet></router-outlet>-->
</div>
