button.button {
  background-color: var(--background-color-2);
  color: var(--text-color-main);
  border: 2px solid var(--background-color-light);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 15rem;
}

.resource-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 4px;
  margin: 10px auto;
  width: fit-content;
  padding: 5px;
  font-size: 1.2rem;
}

.resource-card div {
  font-weight: bold;
  font-size: 1.5rem;
}

.resource-card div.proxima-centauri {
  color: var(--proxima-centauri-color);
}

.resource-card div.lalande {
  color: var(--lalande-color);
}

.resource-card div.sun {
  color: var(--sun-color);
}

.resource-card div.sirius {
  color: var(--sirius-color);
}
