button.button {
  background-color: var(--background-color-2);
  color: var(--text-color-main);
  border: 2px solid var(--background-color-light);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 15rem;
}

.resource-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  margin: 10px auto;
  width: fit-content;
  padding: 5px 10px;
  font-size: 1.2rem;
}

.resource-card span {
  font-weight: bold;
  font-size: 1.5rem;
}

.resource-card span.proxima-centauri {
  color: var(--proxima-centauri-color);
}

.resource-card span.lalande {
  color: var(--lalande-color);
}

.resource-card span.sun {
  color: var(--sun-color);
}

.resource-card span.sirius {
  color: var(--sirius-color);
}

.red {
  color: var(--text-color-red);
}

.next-unlock {
  color: var(--text-color-darkened);
}
