button.button {
  background-color: var(--background-color-2);
  color: var(--text-color-main);
  border: 2px solid var(--background-color-light);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 15rem;
}
