<p>Current star: {{ getCurrentStar() }}</p>
<button *ngIf="inChallenge()" class="button" (click)="leaveChallenge()">Leave challenge</button>
<div *ngIf="inChallenge()">
  <div *ngFor="let holding of getChallengeHoldings()">
    <app-number-display [holding]="holding"></app-number-display>
  </div>
</div>
<div *ngIf="inChallenge()" class="upgrade-row">
  <div *ngFor="let generator of getChallengeGenerators()">
    <app-generator *ngIf="!generator.isHidden()" [generator]="generator"></app-generator>
  </div>
</div>
<div *ngIf="inChallenge()" class="upgrade-row">
  <div *ngFor="let upgrade of getChallengeUpgrades()">
    <app-upgrade [upgrade]="upgrade"></app-upgrade>
  </div>
</div>
<div class="upgrade-row">
  <div *ngFor="let star of getStars()">
    <app-star *ngIf="star.isUnlocked()" [star]="star"></app-star>
  </div>
</div>
